In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("dataframe.pkl")

In [3]:
import sqlite3 as sq

In [4]:
databaseName = 'torque.db'
tableName = "logData"
tempTableName = "importData"

In [5]:
def sqlColumnFormat(l):
    
    temp = []
    
    for x in range(len(l)):
        temp.append(f"\"{l[x]}\"")
    
    output = ','.join(temp)
    return output

In [6]:
con = sq.connect(databaseName)
cur = con.cursor()
cur.execute(f'''SELECT count(name) FROM sqlite_master WHERE type='table' AND name='{tableName}' ''')

#if the count is 1, then table exists
if cur.fetchone()[0]==0:

    print('Table doesn\'t exist')
    #Create new table
    df.to_sql(tableName, con, if_exists='append', index=True) # writes to database
    
    with con: #Make unique
        con.execute("DROP INDEX \"ix_logData_Device Time\"")
        con.execute("CREATE UNIQUE INDEX \"ix_logData_Device Time\" ON \"logData\" (\"Device Time\")")

else:

    df.to_sql(tempTableName, con, if_exists='replace', index=True) # writes to database
    
    #get column names
    cur.execute("select * from %s where 1=0;" % "logData")
    logDataColumns = [d[0] for d in cur.description]
    cur.execute("select * from %s where 1=0;" % "importData")
    importDataColumns = [d[0] for d in cur.description]
    
    newColumns = list(set(importDataColumns) - set(logDataColumns))
    
    if len(newColumns) >= 1:
    
        print(f"New Columns: {sqlColumnFormat(newColumns)}")

        for x in range(len(newColumns)):
            columnName = newColumns[x]
        
            with con:
                con.execute(f"ALTER TABLE {tableName} ADD COLUMN \"{columnName}\" TEXT")
            print(f"Adding column {columnName} to {tableName}")
    
    
    mergeData = f'''INSERT into logData ({sqlColumnFormat(importDataColumns)})
    SELECT {sqlColumnFormat(importDataColumns)}
    FROM importData 
    WHERE "Device Time" NOT IN (SELECT logData."Device Time" FROM logData);'''

    print (mergeData)
    #with con:
        #con.execute(mergeData)

con.close() # good practice: close connection

INSERT into logData ("Device Time","Longitude","Latitude","GPS Speed(km/h)","Horizontal Dilution of Precision","Altitude(m)","Bearing","Gravity X(G)","Gravity Y(G)","Gravity Z(G)","Air Fuel Ratio(Measured)(:1)","Ambient air temp(°F)","Engine Coolant Temperature(°F)","Engine Load(%)","Engine RPM(rpm)","Fuel Level (From Engine ECU)(%)","Horsepower (At the wheels)(hp)","Intake Air Temperature(°F)","Intake Manifold Pressure(kpa)","Speed (OBD)(km/h)","Torque(ft-lb)","Voltage (Control Module)(V)","Fuel flow rate/minute(cc/min)","Miles Per Gallon(Long Term Average)(mpg)","CO2 in g/km (Average)(g/km)","CO2 in g/km (Instantaneous)(g/km)","Miles Per Gallon(Instant)(mpg)","Start Drive Time")
    SELECT "Device Time","Longitude","Latitude","GPS Speed(km/h)","Horizontal Dilution of Precision","Altitude(m)","Bearing","Gravity X(G)","Gravity Y(G)","Gravity Z(G)","Air Fuel Ratio(Measured)(:1)","Ambient air temp(°F)","Engine Coolant Temperature(°F)","Engine Load(%)","Engine RPM(rpm)","Fuel Level (From Engine ECU)(%)","Horsepower (At the wheels)(hp)","Intake Air Temperature(°F)","Intake Manifold Pressure(kpa)","Speed (OBD)(km/h)","Torque(ft-lb)","Voltage (Control Module)(V)","Fuel flow rate/minute(cc/min)","Miles Per Gallon(Long Term Average)(mpg)","CO2 in g/km (Average)(g/km)","CO2 in g/km (Instantaneous)(g/km)","Miles Per Gallon(Instant)(mpg)","Start Drive Time"
    FROM importData
    WHERE "Device Time" NOT IN (SELECT logData."Device Time" FROM logData);